<form action='/' method='POST'>
  <div class="container mb-3" >
    <input type="url" name="url" class="form-control mb-3" id="url" placeholder="Input URL here"  {{#if shorten}} value={{url}} {{/if}}required />
    <button type="submit" class="btn btn-primary d-block w-25 mx-auto">Shorten</button>
  </div>
  
</form>

{{#if url}}
<div>  
  <h3><strong>Success! Please use this link:</strong></h3>
  <p>{{header}}/{{shorten}}</p>
</div>
{{/if}}

{{#if error}}
<h4 class="text-danger">This Url is unfound! Please check again</h4>
{{/if}}